* {
	font-family: 'Open Sans', serif;
}

.box {
	border: 2px solid black;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.padded {
	padding: 12px;
}

.container {
	margin-top: 10%;
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	margin: 0 0 0 0;
}

input {
	text-align: center;
}

.question {
	font-size: 3em;
}

.response {
	vertical-align: top;
}

.logo {
	font-size: 4em;
	font-weight: bold;
	color: blue;
}

